<%- include('partials/header'); -%>

<h1>Home</h1>

<% postsArray.forEach((post)=> { %>

<h3> <%= post.title %> </h3>
<% if (post.content.length > 100){ %>
<p> <%= post.content.substring(0, 100) + ' ...' %> <a href="/posts/<%= post.id %>">Read more</a></p>

<% } %>
<% }); %>



<!-- <%- include('partials/footer'); -%> -->



